<h1 class="brand">Top Users</h1>

<div class="CSSTable" >
    <table >
      <tr>
        <td>profil-picture</td>
        <td>username</td>
        <td>total picture likes</td>
        <td>email</td>
        <td>profil-description</td>
        <td>show</td>
        <td>edit</td>

      </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to image_tag(user.profil_pic_url(:thumb).to_s), user_path(user) %></td>
        <td><%= user.username.split(' ').map {|w| w.capitalize }.join(' ') %></td>
        <td><span class="badge badge-important"><%= user.total_likes %></span></td>
        <td><%= user.email %></td>
        <td><%= user.description %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_registration_path %></td>
      </tr>
    <% end %>
    </table>
</div>

<br />

<%= link_to 'New User', new_user_path %>
