<h1 class="brand">Top Users</h1>

<div class="CSSTable" >
    <table >
      <tr>
        <td>profil-picture</td>
        <td>username</td>
        <td>total picture likes</td>
        <td>email</td>
        <td>profil-description</td>
        <td>show</td>

      </tr>
    <% @users.each do |user| %>
      <tr>
        <td><% if user.profil_pic.present? %>
            <%= link_to image_tag(user.profil_pic_url(:thumb).to_s), user_path(user) %>
            <% else %>
            <%= link_to image_tag('default_profil_pic.jpg'), user_path(user), :id => 'user-pic-header' %>
            <% end %>
        </td>
        <td><%= user.username.split(' ').map {|w| w.capitalize }.join(' ') %></td>
        <td>
          <span class="badge badge-important">
            <%if user.total_likes.nil? %>
              0
            <% else %>
              <%= user.total_likes %>
            <% end %>
          </span>
        </td>
        <td><%= user.email %></td>
        <td><%= user.description %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
    </table>
</div>

<br />

<%-# link_to 'New User', new_user_path -%>
