<p id="notice"><%= notice %></p>

<% if @user.profil_pic.present? %>
  <%= image_tag(@user.profil_pic_url(:thumb).to_s) %>
<% else %>
  <%= image_tag('default_profil_pic.jpg') %>
<% end %>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
  <b>Total-likes:</b>
  <%if @user.total_likes.nil? %>
    0
  <% else %>
    <%= @user.total_likes %>
  <% end %>
</p>

<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
