<p id="notice"><%= notice %></p>

<% if @user.profil_pic.present? %>
  <%= image_tag(@user.profil_pic_url(:thumb).to_s) %>
<% else %>
  <%= image_tag('default_profil_pic.jpg') %>
<% end %>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
  <b>Total-likes:</b>
  <%= @user.total_likes %>
</p>

<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
