<nav>
  <li><%= link_to 'Home', root_url %></li>|

  <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <span class="logged_in">Logged in as <strong><%= current_user.email %></strong>.</span>
      <h1>This is a Test... I've got some Open Graph Data from you now! Feeling like a hacker!</h1>
      <%= current_user.getLink %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
      <span class="fb_login"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></span>
  <% end %>

</nav>

<li style="padding:10px; font-size:11px; font-style:italic">Seitenaufrufe: <%= session[:count]%></li>