<h1 id="title" class="brand" xmlns="http://www.w3.org/1999/html">Metamorphosis</h1>
<div id="masonry-container">
    <% @pictures.sort_by{|e| e.pic_likes}.reverse_each do |picture| %>
      <div class="pin">
          <div class="img-polaroid">
            <figure class="polaroid-images">
               <%= link_to image_tag(picture.image_url(:fixedWidth).to_s), picture.image_url, :class => 'title-img', :rel => 'lightbox[gallery1]', :title => picture.name %>
              <figcaption class="pic_name"><%= picture.name %></figcaption>
            </figure>
          <div class="pic_likes">
            <%= link_to("Download", options = {:controller => :pictures, :action => :download, :id => picture.id}, html_options = {:class => "start-challenge btn btn-mini btn-danger"}) %>
            <%= link_to "Start Challenge", new_picture_path(:challenge_picture => picture.id), :class => "start-challenge btn btn-mini btn-info" %>
             <%= link_to "Details", picture_path(:id => picture.id), :class => "start-challenge btn btn-mini" %>
           <div class="likes">
              <span class="badge badge-important number-likes"><%= picture.pic_likes %></span>
             <% if user_signed_in? %>
             <%= link_to "<i class='icon-thumbs-up'></i>".html_safe, root_url(:like_id => picture.id), { :method => :get, :class => "btn btn-mini btn-like"} %>
             <% end %>
           </div>
          </div>
            <hr class="hr-split">
            <!--<div class="fb-like" data-send="true" data-layout="box_count" data-width="450" data-show-faces="true"></div>-->
         </div>
         <div class="text">
            <div class="pic_creator">
              <% if picture.user.profil_pic.present? %>
                <%= link_to image_tag(picture.user.profil_pic_url(:thumb).to_s), user_path(picture.user), :class => 'user-img' %>
              <% else %>
                <%= link_to image_tag('default_profil_pic.jpg'), user_path(picture.user), :class => 'user-img' %>
              <% end %>
              <p><%= link_to picture.user.username.split(' ').map {|w| w.capitalize }.join(' '), user_path(picture.user)  %> created this picture.</p>
              <hr class="hr-split">
              <% if picture.parent %>
                <%= link_to image_tag(Picture.find(picture.parent).user.profil_pic_url(:thumb).to_s), user_path(picture.user), :class => 'user-img' %>
                <p><%= link_to picture.user.username.split(' ').map {|w| w.capitalize }.join(' '), user_path(picture.user)  %> modified it.</p>
               <hr class="hr-split">
              <% end %>
            </div>
            <% if picture.description? %>
              <div class="pic_description">
                <p>description: <%= picture.description %></p>
              </div>
            <% end %>
            <hr class="hr-split-visible">
            <div id="ajaxComments<%= picture.id %>" class="ajaxComments">
              <% @comments = Comment.where(:picture_id => picture.id) %>
              <%= render :template => 'comments/index', :locals => { :commments => @comments }%>
              <% @picture_id = picture.id %>
              <% if user_signed_in? %>
              <%= render :partial => 'comments/form', :locals => { :picture_id => @picture_id} %>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Parent</th>
    <th>Gallery</th>
    <th>Rating</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.name %></td>
        <td><%= picture.description %></td>
        <td><%= picture.type %></td>
        <td><%= picture.parent %></td>
        <td><%= picture.gallery %></td>
        <td><%= picture.rating %></td>
        <td><%= picture.user_id %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
<%= link_to 'New Picture', new_picture_path %>