<h1 id="title" class="brand" xmlns="http://www.w3.org/1999/html">Metamorphosis</h1>
<div id="masonry-container">
    <% @pictures.reverse_each do |picture| %>
      <div class="pin">
          <div class="img-polaroid"><%= link_to image_tag(picture.image_url(:fixedWidth).to_s, :class => 'polaroid-images'), picture.image_url %></div>
          <div class="text">
            <div class="pic_creator">
              <p>created by: <%= picture.user.username  %></p>
              <%= link_to image_tag(picture.user.profil_pic_url.to_s), user_path(picture.user) %>
              <% if picture.parent %>
                <p>modified by: <%= picture.user.username  %></p>
                <%= link_to image_tag(Picture.find(picture.parent).user.profil_pic_url.to_s), user_path(picture.user) %>
              <% end %>
            </div>
            <div class="pic_name">
              <p>name: <%= picture.name %></p>
            </div>
            <div class="pic_description">
              <p>description: <%= picture.description %></p>
            </div>
            <div class="pic_likes">
              <p>likes: <%= picture.pic_likes %></p>
            </div>
            <%= button_to "Download", picture.image_url, { :method => :get, :class => "btn btn-danger" } %>
            <%= link_to "Start Challenge", new_picture_path(:challenge_picture => picture.id), :class => "btn btn-danger" %>
            <%= link_to "like", root_url(:like_id => picture.id), { :class => "btn btn-primary"} %>
          </div>
      </div>
    <% end %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Parent</th>
    <th>Gallery</th>
    <th>Rating</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.name %></td>
        <td><%= picture.description %></td>
        <td><%= picture.type %></td>
        <td><%= picture.parent %></td>
        <td><%= picture.gallery %></td>
        <td><%= picture.rating %></td>
        <td><%= picture.user_id %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Picture', new_picture_path %>


