<h1 id="title" class="brand" xmlns="http://www.w3.org/1999/html">Metamorphosis</h1>
<div id="masonry-container">
    <% @pictures.reverse_each do |picture| %>
      <!--<img src="http://jobyj.in/adipoli/img/gallery-images/1_1.png" class="test" alt="Pulpit rock" width="304" height="228">-->
      <div class="img-polaroid"><%= image_tag picture.image_url(:fixedWidth).to_s, :class => 'polaroid-images' %></div>
    <% end %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Parent</th>
    <th>Gallery</th>
    <th>Rating</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.name %></td>
        <td><%= picture.description %></td>
        <td><%= picture.type %></td>
        <td><%= picture.parent %></td>
        <td><%= picture.gallery %></td>
        <td><%= picture.rating %></td>
        <td><%= picture.user_id %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Picture', new_picture_path %>


