<p id="notice"><%= notice %></p>

<!--<div class="cssThumb">-->
<b>this is the <i>thumb</i> version uploaded with <i>carrierwace</i> and modified with <i>rmagick</i>:</b></br>
<%= image_tag @picture.image_url(:thumb).to_s %>
</br>
<!--</div>-->

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>Type:</b>
  <%= @picture.type %>
</p>

<p>
  <b>Parent:</b>
  <%= @picture.parent %>
</p>

<p>
  <b>Gallery:</b>
  <%= @picture.gallery %>
</p>

<p>
  <b>Rating:</b>
  <%= @picture.rating %>
</p>

<p>
  <b>User:</b>
  <%= @picture.user_id %>
</p>

<p>
  <b>Pictuer-likes:</b>
  <%= @picture.pic_likes %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
